{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Ласкаво просимо на сторінку "Про нас".

Наш веб-сайт — це місце, де ви можете легко та зручно планувати події, відслідковувати їх та спілкуватися з іншими користувачами.
            Функціонал додатку

Наш додаток надає вам ряд корисних можливостей:

1. Реєстрація користувача: Проста та швидка реєстрація, яка відкриває вам доступ до всіх функцій додатку.

2. Додавання події: Створюйте та плануйте ваші події легко та ефективно. Додавайте всю необхідну інформацію та отримуйте зручний перегляд вашого графіка.

3. Редагування та видалення події: Управляйте своїми подіями в будь-який момент. Редагуйте деталі або видаляйте події за кілька клацань.

4. Навігація: Зручна навігація по сайту дозволяє швидко переходити між різними розділами, такими як "Головна", "Про нас", "Планування подій" та "Контактна інформація"

Дякуємо за вибір нашого сервісу. Бажаємо вам приємного користування!</p>

         <a href="{% url 'home'  %}" class="btn btn-info">На головну</a>
    </div>
{% endblock %}



